<h3>Links</h3>
    <ul>
      <li>
        <a href="/">Home</a>

      </li>
      <li>
        <a href="/about">About</a>
        
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>