
    <h4>Daftar Mahasiswa</h4>
    <!-- ejsif -->
    <% if (mahasiswa.length<1) { %>
     <p>Data mahasiswa masih kosong</p>
    <% } %>
    <!-- ejseach -->
    <% mahasiswa.forEach(mhs => { %>
      <ul>
        <li>Nama: <%= mhs.nama %> </li>
        <li>Email: <%= mhs.email %> </li>
      </ul>
     
    <% }) %>

