<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/a.jpg" alt="Valin" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Valin Fernanda</h1>
            <p class="lead">Front End Dev || Philatelist</p>
        </div>
    </div>
</div>